<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Home Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>    
    <div class="footer">
        <div>Ped Adoption</div>
        <div>All about pets</div>
    </div>
    <div class="cards">
        <a href="/home/showdog">
            <img src="/assets/dog.jpeg" alt="">
        </a>
    <a href="/home/showcat">
        <img src="/assets/cat.jpg" alt="">
    </a>
        <a href="/home/showrabbit">
        <img src="/assets/rabbit.jpeg" alt="">
    </a>
   
    </div>

    <div>
        <h2>Planning to adopt a pet?</h2>
        <div class="card1">
            <div class="card1-inner">
                <i class="fa-solid fa-paw"></i>
                <h3>CHECKLIST FOR NEW ADOPTERS</h3>
                <p>Make the adoption process as smooth as possible</p>
                <button>LEARN MORE</button>
            </div>
            <div class="card1-inner">
                <i class="fa-solid fa-dog"></i>
                <h3>HOW OLD IS A DOG IN HUMAN YEAR</h3>
                <p>Learn to translate dog years to human years just for fun, and vice versa. Finally answer how old your dog is!</p>
                <button>LERAN MORE</button>
            </div>
            <div class="card1-inner">
                <i class="fa-regular fa-comments"></i>
                <h3>Pet Adoption FAQs</h3>
                <p>Get answer to all the you questions you haven’t thought of for your adoption.</p>
                <button>LEARN MORE</button>
            </div>
        </div>
    </div>
<div>
    <h2>PETADOPTION</h2>
    <div class="card2">
        <div>
            <h3>RESOURCES</h3>
            <p>FAQs</p>
            <p>Partnership</p>
            <p>Put Petfinder on your site</p>
            <p>ContactUs</p>
        </div>
        <div>
            <H3>ADOPT OR GET INVOLED</H3>
            <p>All adopt or get involved</p>
            <p>Adopting pet</p>
            <p>Animal Shelter and Rescues</p>
            <p>Other types of pet</p>
        </div>
        <div>
            <h3>ABOUT DOG AND PUPPIES</h3>
            <p>All about dogs and puppies</p>
            <p>Dog Adoption</p>
            <p>Dog Breeds</p>
            <p>Feeding your Dog</p>
            <p>Dog behavior</p>
            <p>Dog Health and Wellness</p>
            <p>Dog Traning</p>
            <p>Other Dog information</p>
            <p></p>
        </div>
        <div>
            <h3>ABOUT CAT AND KITTENS</h3>
            <p>All about cat and Kittens</p>
            <p>Cat Adoption</p>
            <p>Cat Breeds</p>
            <p>Feeding your cat</p>
            <p>Cat behavior</p>
            <p>Cat health and Wellness</p>
            <p>Dog Traning</p>
            <p>Other Dog information</p>
        </div>
    </div>
</div>
</body>
</html>